<!DOCTYPE html>
<html lang="<%= config.language %>">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <% if (config.google_analytics) { %>
  <!-- Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=<%= config.google_analytics %>"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '<%= config.google_analytics %>');
  </script>
  <% } %>
  
  <% if (config.google_adsense) { %>
  <!-- Google AdSense -->
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=<%= config.google_adsense %>" crossorigin="anonymous"></script>
  <% } %>
  
  <%- partial('_partial/analytics') %>
  
  <% if (page.title) { %>
    <title><%= page.title %> | <%= config.title %></title>
  <% } else { %>
    <title><%= config.title %></title>
  <% } %>
  
  <% if (page.description) { %>
    <meta name="description" content="<%= page.description %>">
  <% } else if (config.description) { %>
    <meta name="description" content="<%= config.description %>">
  <% } %>
  
  <% if (page.keywords) { %>
    <meta name="keywords" content="<%= page.keywords %>">
  <% } else if (config.keywords) { %>
    <meta name="keywords" content="<%= config.keywords %>">
  <% } %>
  
  <link rel="alternate" href="<%= config.url %>/atom.xml" title="<%= config.title %>" type="application/atom+xml">
  <link rel="stylesheet" href="<%- url_for(theme.css) %>/style.css">
</head>